@media (min-width: 576px) {
  .jumbotron {
    padding: 0;
  }
}

.jumbotron {
  padding: 0;
  margin-bottom: 0;
  background-color: #e9eaef;
  border-radius: .75rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
}

label {
  margin: 0 .5rem ;
}